    #stage {
      position: relative;
      width: 800px;
      height: 800px;
      border: 1px solid black;
      background-color: aqua;
      overflow: hidden;
      background-image: url('00.IMG/back3.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    #introScene {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('00.IMG/IntroTank.gif');
      /* 이미지 경로를 설정하세요 */
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.75);
      /* 약간의 투명도를 추가하여 배경이 보이게 함 */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      z-index: 10;
      /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }

    #title {
      font-size: 2em;
      /* 제목의 크기를 키웁니다. */
      margin-bottom: 0.5em;
      /* 버튼과의 간격을 조정합니다. */
      /* 필요하다면 여기에 더 많은 스타일을 추가할 수 있습니다. */
    }

    #startButton {
      padding: 10px 20px;
      /* 버튼의 안쪽 여백을 증가시켜 크기를 키웁니다. */
      font-size: 1.5em;
      /* 글씨 크기를 키웁니다. */
      cursor: pointer;
      /* 마우스 오버 시 커서를 포인터로 변경합니다. */
      /* 필요하다면 여기에 더 많은 스타일을 추가할 수 있습니다. */
    }

    #gameOverScene {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 이 부분을 추가합니다 */
      text-align: center;
    }

    #player {
      position: absolute;
      width: 60px;
      bottom: 400px;
      left: 400px;
    }



    .enemy {
      position: absolute;
      width: 60px;
      height: 70px;
      bottom: 10px;
      right: 10px;
      background-image: url("00.IMG/Tank.png");
      background-size: cover;
      filter: hue-rotate(180deg) brightness(100%) saturate(100%);
      /* 이 값들은 예시이며, 실제로 원하는 색에 따라 조정이 필요할 수 있습니다. */
    }

    .enemyBullet {
      position: absolute;
      width: 40px;
      height: 8px;
      background-image: url("00.IMG/bullet.png");
      background-size: cover;
    }

    .bullet {
      position: absolute;
      width: 40px;
      height: 8px;
      background-image: url("00.IMG/bullet.png");
      background-size: cover;
    }



    .boom {
      position: absolute;
      width: 96px;
      /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
      height: 96px;
      /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
      background-image: url('00.IMG/explosion.gif');
      background-size: cover;

    }