@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#stage {
  position: relative;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-color: aqua;
  overflow: hidden;
  background-image: url('00.IMG/back3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;

}

#introScene {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('00.IMG/IntroTank.gif');
  /* 이미지 경로를 설정하세요 */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.75);

  /* 약간의 투명도를 추가하여 배경이 보이게 함 */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

#title {
  font-size: 7em;
  position: relative;
  top: -250px;
  /* 필요에 따라 값 조정 */
  margin-bottom: 0.5em;
  -webkit-text-stroke: 0.5px black;
  color: antiquewhite
}

#title2 {
  font-size: 7em;
  position: relative;
  top: -250px;
  /* 필요에 따라 값 조정 */
  margin-bottom: 0.5em;
  -webkit-text-stroke: 0.5px black;
  color: antiquewhite
}

#tutorial {
  position: absolute;
  top: 650px;
  /* 필요에 따라 값 조정 */
  left: 50px;
  font-weight: bold;
  color: antiquewhite
}

#tutorial2 {
  position: absolute;
  top: 650px;
  /* 필요에 따라 값 조정 */
  left: 500px;
  font-weight: bold;
  color: antiquewhite
}

#tutorial3 {
  position: absolute;
  bottom: calc(3%);
  /* 뷰포트 높이의 10% + 한 줄의 높이 만큼 떨어진 곳에 위치 */
  right: 2%;
  color: white;
  font-size: 20px;
}

#tutorial4 {
  position: absolute;
  bottom: calc(0%);
  /* 뷰포트 높이의 10% + 한 줄의 높이 만큼 떨어진 곳에 위치 */
  right: 2%;
  /* 왼쪽에서부터의 간격 */
  color: white;
  font-size: 20px;
}

#key {
  width: 200px;
  position: absolute;
  top: 600px;
  /* 필요에 따라 값 조정 */
  left: 150px;
}


#startButton {
  position: absolute;
  top: 450px;
  /* 필요에 따라 값 조정 */
  padding: 10px 20px;
  /* 버튼의 안쪽 여백을 증가시켜 크기를 키웁니다. */
  font-size: 1.5em;
  /* 글씨 크기를 키웁니다. */
  cursor: pointer;
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
  opacity: 0;
}

#reStartButton {
  position: absolute;
  top: 450px;
  /* 필요에 따라 값 조정 */
  padding: 10px 20px;
  /* 버튼의 안쪽 여백을 증가시켜 크기를 키웁니다. */
  font-size: 1.5em;
  /* 글씨 크기를 키웁니다. */
  cursor: pointer;
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
}


#gameOverScene {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 이 부분을 추가합니다 */
  text-align: center;
  z-index: 9;
}

#gameWinScene {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 이 부분을 추가합니다 */
  text-align: center;
  z-index: 9;
}

#player {
  position: absolute;
  width: 60px;
  bottom: 400px;
  left: 400px;
}



.enemy {
  position: absolute;
  width: 60px;
  height: 70px;
  bottom: 10px;
  right: 10px;
  background-image: url("00.IMG/Tank.png");
  background-size: cover;
  filter: hue-rotate(180deg) brightness(100%) saturate(100%);
  /* 이 값들은 예시이며, 실제로 원하는 색에 따라 조정이 필요할 수 있습니다. */
}

.enemyBullet {
  position: absolute;
  width: 40px;
  height: 8px;
  background-image: url("00.IMG/bullet.png");
  background-size: cover;
}

.bullet {
  position: absolute;
  width: 40px;
  height: 8px;
  background-image: url("00.IMG/bullet.png");
  background-size: cover;
}

.boom {
  position: absolute;
  width: 96px;
  /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
  height: 96px;
  /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
  background-image: url('00.IMG/explosion.gif');
  background-size: cover;

}

#scoreBoard {
  position: absolute; /* 절대 위치 설정 */
  top: 30%; /* 스테이지 상단 바깥으로 위치 조정 */
  left: 0; /* 왼쪽에서 시작 */
  width: 100%; /* 스테이지의 너비와 동일하게 설정 */
  height: 50px; /* 높이는 좁게 설정 */
  background-color: transparent; /* 스코어 보드 배경색, 원하는 색상으로 변경 가능 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  line-height: 50px; /* 텍스트를 수직 가운데 정렬하기 위해 line-height를 높이와 동일하게 설정 */
  color: antiquewhite; /* 스코어 보드 텍스트 색상 */
  font-size: 60px; /* 텍스트 크기 */

}

#enemiesLeft {
  font-weight: bold; /* 남은 적의 수를 강조 */
}