    #stage {
      position: relative;
      width: 800px;
      height: 800px;
      border: 1px solid black;
      background-color: aqua;
      overflow: hidden;
      background-image: url('00.IMG/back3.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    #player {
      position: absolute;
      width: 60px;
      bottom: 400px;
      left: 400px;
    }

    #gameOverScene {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 이 부분을 추가합니다 */
      text-align: center;
    }

    .enemy {
      position: absolute;
      width: 60px;
      height: 70px;
      bottom: 10px;
      right: 10px;
      background-image: url("00.IMG/Tank.png");
      background-size: cover;
      filter: hue-rotate(180deg) brightness(100%) saturate(100%);
      /* 이 값들은 예시이며, 실제로 원하는 색에 따라 조정이 필요할 수 있습니다. */
    }

    .enemyBullet {
      position: absolute;
      width: 40px;
      height: 8px;
      background-image: url("00.IMG/bullet.png");
      background-size: cover;
    }

    .bullet {
      position: absolute;
      width: 40px;
      height: 8px;
      background-image: url("00.IMG/bullet.png");
      background-size: cover;
    }



    .boom {
      position: absolute;
      width: 96px;
      /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
      height: 96px;
      /* 폭발 이미지의 실제 크기에 맞게 조정하세요 */
      background-image: url('00.IMG/explosion.gif');
      background-size: cover;

    }